* {
	font-family: "Arial";
	font-size: 20px;
}

body {
	max-width: 1000px;
	background:#0e664d;
}

#wrap {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
}

h1{
	text-align: center;
	color:#fff;
	font-size:24px;
}

button {
	width: 220px;
	height: 70px;
	font-size: 25px;
	border: 1px solid black;
	cursor: pointer;
}

button:hover {
	opacity: 0.7;
}

.quiz {
	margin: 0 auto;
	border: 3px solid #73848e;
	overflow: hidden;
	width:400px;
	font-size: 20px;
}

.question {
	background-color: #aecd6f;
	text-align: center;
	line-height: 36px;
	margin-bottom: 5px;
}

.answer div {
	display: block;
	background-color: #BADDBC;
	margin: 7px;
	width:150px;
	float:left;
	position: relative;
    left: 15px;
	padding: 0 10px;
	line-height: 36px;
	cursor: pointer;
}

.answer div:hover {
	background-color: #aee1dd;
	color: #888e5f;
}

#button-next {
    position: absolute;
    top: 112%;
    left: 38%;
}

#button-again{
	position: absolute;
    left: 35%;
}

